<ion-list>
  <ion-item>
    <ion-label>Codigo:</ion-label>
    <ion-input inputmode="number" placeholder="Ingrese..." slot="end"[(ngModel)]="id"></ion-input>
 <ion-note slot="helper"color="danger">Ingrese el codigo</ion-note>
  </ion-item>
  <ion-item>
    <ion-label>Titulo</ion-label>
    <ion-input inputmode="text" placeholder="Ingresar..." slot="end" [(ngModel)]="titulo"></ion-input>
  <ion-note *ngif="!tituloValidado"slot="helper" color="danger">Ingrese un titulo</ion-note>
  </ion-item>
  <ion-item>
    <ion-label>Autor</ion-label>
    <ion-select placeholder="Seleccionar..."slot="end"[(ngModel)]="paginas">
      <ion-select-option *ngFor="let autor of listaAutores"[value]="autor.id">{{autor.nombre}}</ion-select-option>
    </ion-select>
    <ion-note *ngIf="!idautorValidado" slot="helper" color="danger">Seleccione un autor</ion-note>
  </ion-item>
  <ion-item>
    <ion-label>No.Paginas:</ion-label>
    <ion-input inputmode="number" placeholder="Ingresar..." slot="end"></ion-input>
    <ion-note *ngIf="!paginasValidado" slot="helper" color="danger">Ingrese el no.de Paginas</ion-note>
  </ion-item>
</ion-list>
<ion-button expand="full"(click)="guardar()">
  <ion-icon name="save" slot="start"></ion-icon>
  Guardar
</ion-button>